{% extends "base.html" %} {% block content %}
<div class="container p-5 text-start">
  <p class="m-4">
    Aqoon is based on the theory of a community space where ideas can be shared
    and like minded people can connect.
    <br />
    <br />
    Aqoon is a digital space where ideas can be shared and like minded people can
    connect. Users can create various forums to discuss topics ranging from tech
    news, healthy living, financial advice and many more.

    <br />
    <br />
    If there is not a group that matches your interest you have the opportunity
    to create your own space to grow. This website has many functions mentioned
    in the features section such as creating posts and socialising with other
    users.
    <br />
  </p>
</div>
{% endblock %}%}
