{% extends "base.html"  %}

{% block content %}
<div class="container p-5 text-start ">
    <p>
        Social media is a collective term for websites and applications which focus on communication, community-based input, interaction, content-sharing and collaboration Social media is facilitates the sharing of ideas, thoughts, and information through the building of virtual networks and communities.
        
        <br>
        <br>

         By design, social media is internet-based and gives users quick electronic communication of content. Content includes personal information, documents, videos, and photos. Users engage with social media via computer, tablet or smartphone via web-based software or web application, often utilizing it for messaging.
        
        <br>
        <br>

        While social media is ubiquitous in America and Europe, China and India now lead the list of social media usage.
    
    </p>
</div>
{% endblock  %}%}
